html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Garamond, serif;
  }

  #prevMonth {
    font-size: 12px;
  }

  #nextMonth {
    font-size: 12px;
  }
  
  .calendar {
    width: 75vw;
    height: 75vh;
    border: 1px solid #ccc;
    padding: 10px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .month {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    font-size: 48px;
  }
  
  .days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: auto;
    grid-gap: 5px;
    flex-grow: 1;
  }
  
  .day {
    text-align: right;
    background-color: #fffafa;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 4px;
    box-shadow: 2px 2px 4px rgba(230, 230, 230, 1);
    transition: transform 0.25s ease-in-out;
  }
  
  .day:hover {
    transform: scale(1.025);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  

  .unavailable {
    background-color: rgb(236, 222, 226);
  }

  .available {
    background-color: rgb(206, 232, 215)
  }
  
