html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Garamond, serif;
  }

  #prevMonth {
    font-size: 12px;
  }

  #nextMonth {
    font-size: 12px;
  }
  
  .calendar {
    width: 75vw;
    height: 75vh;
    border: 1px solid #ccc;
    padding: 10px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .month {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    font-size: 48px;
  }
  
  .days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: auto;
    grid-gap: 5px;
    flex-grow: 1;
  }
  
  .day {
    text-align: right;
    background-color: #fffafa;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 4px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  }

  .unavailable {
    background-color: rgba(0, 0, 40, 0.05);
  }

  .available {
    background-color: rgb(0, 200, 100, 0.25);
  }
  
